gymnasium==0.28.1
nptyping~=2.5.0
ordered-set~=4.1.0
pytest~=8.0.0
qiskit~=1.0.0
qiskit-ibm-provider~=0.9.0
ray[rllib]~=2.9.2
rich~=13.7.0
rustworkx~=0.14.0
scipy~=1.12.0
seaborn~=0.13.2
tensorboard~=2.16.2
torch~=2.2.0
tqdm~=4.66.2
